<nb-accordion [multi]="true" class="mt-2">
  <nb-accordion-item *ngFor="let task of tasks">
    <nb-accordion-item-header>
      <span
        [class]="{ 'mr-2': true, 'completed': task.isCompleted, 'dot': true }"
      ></span>
      <span>{{ task.titleRu + (task.category ? (' | ' + task.category.titleRu) : '') }}</span>
      <span *ngIf="!task.category" [class]="{'daily-success': task.isCompleted, 'rt-points': true}">
        {{ (task.isCompleted ? '+' : '') + '100 баллов' }}
      </span>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <ngx-task [task]="task" [user]="user"></ngx-task>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
