nb-accordion-item-header {
  display: flex;

  span.dot {
    width: 8px;
    height: 8px;
    background-color: darkgrey;
    border-radius: 50%;
    display: flex;

    &.completed {
      background-color: #60af20;
    }
  }

  .rt-points {
    margin-left: auto;
    margin-right: 50px;

    &.daily-success {
      color: #60af20;
    }
  }
}
