<div class="wrapper">
  <round-progress
    [animationDelay]="400"
    [animation]="'easeInOutQuart'"
    [background]="'#F2F2F2'"
    [clockwise]="true"
    [color]="'#50D2C2'"
    [current]="78"
    [duration]="800"
    [max]="100"
    [radius]="200"
    [responsive]="false"
    [rounded]="true"
    [semicircle]="false"
    [stroke]="2"
  >
  </round-progress>

  <round-progress
    [animationDelay]="400"
    [animation]="'easeInOutQuart'"
    [background]="'#F2F2F2'"
    [clockwise]="true"
    [color]="'#FCAB53'"
    [current]="34"
    [duration]="800"
    [max]="100"
    [radius]="150"
    [responsive]="false"
    [rounded]="true"
    [semicircle]="false"
    [stroke]="2"
  >

  </round-progress>

  <round-progress
    [animationDelay]="400"
    [animation]="'easeInOutQuart'"
    [background]="'#F2F2F2'"
    [clockwise]="true"
    [color]="'#8C88FF'"
    [current]="97"
    [duration]="800"
    [max]="100"
    [radius]="100"
    [responsive]="false"
    [rounded]="true"
    [semicircle]="false"
    [stroke]="2"
  >

  </round-progress>

  <img [src]="user.picture">
</div>
<div class="stats mt-4 mb-4">
  <div class="item">
    <div class="dot relevance">
    </div>
    <span class="number mt-4 mb-4">78</span>
    <span class="title">Релевантность</span>
  </div>
  <div class="item">
    <div class="dot purity">
    </div>
    <span class="number mt-4 mb-4">34</span>
    <span class="title">Чистота речи</span>
  </div>
  <div class="item">
    <div class="dot vocabulary">
    </div>
    <span class="number mt-4 mb-4">97</span>
    <span class="title">Словарный запас</span>
  </div>
</div>
