<nb-card>
  <nb-card-header>Your students</nb-card-header>
  <nb-card-body>
    <table mat-table [dataSource]="users">
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let userItem">
          <nb-user [picture]="userItem.user.picture" [name]="userItem.user.name"
                   [title]="userItem.time | date:'dd MMM yy, hh:mm'">
          </nb-user>
        </td>
      </ng-container>

<ng-container matColumnDef="notification">
        <th mat-header-cell *matHeaderCellDef>Notification</th>
        <td mat-cell *matCellDef="let userItem">
          <nb-icon class="notify" icon="bell-outline" *ngIf="userItem.notification" [status]="userItem.notification"></nb-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef>Language level</th>
        <td mat-cell *matCellDef="let userItem">
          <ngx-stars
            [readonly]="true"
            [maxStars]="6"
            [initialStars]="+levelsEnum[userItem.level]"
            [color]="colorsEnum[userItem.level]"
            [nbTooltip]="userItem.level"
          >
          </ngx-stars>
        </td>
      </ng-container>

      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef> Progress</th>
        <td mat-cell *matCellDef="let userItem">
          <nb-progress-bar [value]="userItem.progress" [status]="getStatus(userItem.progress)"
                           [displayValue]="true"></nb-progress-bar>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </nb-card-body>
</nb-card>
