<nb-card>
  <nb-card-header>Ваши ученики</nb-card-header>
  <nb-card-body>
    <table [dataSource]="users" mat-table>
      <ng-container matColumnDef="user">
        <th *matHeaderCellDef mat-header-cell>Пользователь</th>
        <td *matCellDef="let user" mat-cell>
          <nb-user [name]="user.name" [picture]="user.picture"
                   [title]="user.lastActivityTime | date:'dd MMMM yyyy, hh:mm'">
          </nb-user>
        </td>
      </ng-container>

      <ng-container matColumnDef="paymentLevel">
        <th *matHeaderCellDef mat-header-cell>Уровень подписки</th>
        <td *matCellDef="let user" class="payment-level-cell" mat-cell>
          <nb-icon *ngIf="user.paymentLevel" [icon]="paymentLevelEnum[user.paymentLevel]" pack="fa"></nb-icon>
          <span *ngIf="!user.paymentLevel">FREE</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="notification">
        <th *matHeaderCellDef mat-header-cell>Уведомления</th>
        <td *matCellDef="let user" mat-cell>
          <nb-icon *ngIf="user.notification" [status]="notificationsEnum[user.notification]" class="notify"
                   icon="bell-outline"></nb-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th *matHeaderCellDef mat-header-cell>Рейтинг</th>
        <td *matCellDef="let user" mat-cell>
          <ngx-stars
            [color]="colorsEnum[user.level]"
            [initialStars]="user.level + 1"
            [maxStars]="6"
            [nbTooltip]="levelsEnum[user.level]"
            [readonly]="true"
          >
          </ngx-stars>
        </td>
      </ng-container>

      <ng-container matColumnDef="progress">
        <th *matHeaderCellDef mat-header-cell>Прогресс</th>
        <td *matCellDef="let user" mat-cell>
          <nb-progress-bar [displayValue]="true" [status]="getStatus(user.progress)"
                           [value]="user.progress"></nb-progress-bar>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" [routerLink]="['./' + row.id]" mat-row></tr>
    </table>
  </nb-card-body>
</nb-card>
