table {
  width: 100%;

  th {

  }

  tr {
    cursor: pointer;

    &:focus {
      outline: none;
    }

    th {
      &.mat-column {

        &-paymentLevel {
          text-align: center;
        }

        &-notification {
          text-align: center;
        }

        &-level {
          text-align: center;
        }
      }
    }

    td {
      padding: 1rem;

      &.mat-column {
        &-user {
          width: 300px;
        }

        &-paymentLevel {
          width: 150px;
          text-align: center;
        }

        &-notification {
          text-align: center;
          width: 100px;
        }

        &-level {
          width: 150px;
        }
      }

      &.payment-level-cell {
        text-align: center;

        nb-icon {
          font-size: 24px;

          &.fa-crown {
            color: #ffd700 !important;
          }

          &.fa-dollar-sign {
            color: #85bb65 !important;
          }
        }
      }

      ngx-stars::ng-deep {
        .stars-line {
          display: inline-flex;
        }
      }
    }
  }
}

.notify {
  animation: ring 2.5s infinite ease;
}

@keyframes ring {
  25% {
    transform: rotate(25deg);
  }
  37.5% {
    transform: rotate(-20deg);
  }
  45% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(0deg);
  }
}
